.article_index_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}

.photo_profil img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.description {
  padding: 2rem;
}

.description h2 {
  font-size: 3.4rem;
}

.description p {
  font-size: 1.6rem;
  padding-top: 1rem;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.button_container button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.button_container a {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #eea302;
  border: 1px black solid;
  font-size: 1.6rem;
}

.button_container .yellow {
  background: #eea302;
}

.button_container .red {
  background: #e13b25;
}

.button_container .blue {
  background: #80d8da;
}

/* Styles pour tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .article_index_container {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: space-around;
    height: 70rem;
    gap: 2rem;
    padding-top: 5rem;
  }
}

/* Styles pour desktop */
@media (min-width: 1024px) {
  .article_index_container {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }
  .description {
    width: 50rem;
  }
}
