/*mise en place de quelques reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

/*Declaration des quelques variables*/

:root {
  --bg-color: #fff;
  --font-color: #000;
}

/*styles de la rubrique article */

article {
  padding: 7rem 0 0 0;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 3rem;
  text-align: center;
}

.projet_container {
  padding: 0 1rem 0 1rem;
  margin-bottom: 3rem;
}

h4 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.img_container {
  border: 15px solid #dfdfdf;
  margin-bottom: 3rem;
}

.paragraph_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_container img {
  width: 34rem;
  height: 18.4rem;
}

button {
  width: 37rem;
  padding: 1rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  border-radius: 0.9rem;
  background: #eea302;
  border: 0px;
}

/* Styles pour tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
    text-align: start;
    margin-left: 1rem;
    font-size: 3rem;
  }

  .projet_sous_container {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    margin-left: 1rem;
  }

  .img_container {
    height: 31.2rem;
  }

  .img_container img {
    width: 44.1rem;
    height: 28.4rem;
  }
}

/* Styles pour desktop */
@media (min-width: 1024px) {
  .projet_container {
    padding: 0 12rem 0 12rem;
    margin-bottom: 5rem;
  }
  .projet_sous_container {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
  }
  .img_container img {
    width: 49.1rem;
    height: 33.4rem;
  }
  .paragraph_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
